.Login {
    position: absolute;
    top: 0;
    background: white;
    width: 100%;
    height: 100vh;
}

.login__container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100vh;
}

.login__left {
    height: 100%;
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__right__title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.login__signup {
    width: 329px;
    height: 59px;
    border-radius: 33px;
    background: rgba(73, 187, 189, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 22px;


    a {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        width: 146px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 33px;
        width: 146px;
        height: 40px;
        background: rgb(73, 187, 189);
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;
    }
}



.register__form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    .register__form__inp {
        border: 1px solid rgb(73, 187, 189);
        border-radius: 40px;
        background: rgb(255, 255, 255);
        width: 435px;
        height: 54px;
        outline: none;
        padding-left: 20px;
        margin-bottom: 30px;
    }

    label {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 12px;
    }
}

.form__forget {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__remember {
    display: flex;
    input{
        cursor: pointer;
    }

    p {
        margin-left: 8px;
    }
}

.form__password a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 300;
}

.form__password {
    margin-left: 170px;
}

.register__btn {
    border-radius: 36px;
    background: rgb(73, 187, 189);
    width: 232px;
    height: 49px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-top: 30px;   
    cursor: pointer;
}