.padd{
    padding: 80px 0;
}
.blog__reading {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 500;
        line-height: 45px;
    }

    a {
        color: rgb(73, 187, 189);
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }
}

.blog__reading_info {
    display: flex;
    justify-content: space-between;
}

.ux {
    position: relative;

    img {
        width: 300px;
    }
}

.btn_ux {
    position: absolute;
    top: 70%;
    left: 15%;
    width: 236px;
    height: 63px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: 700;
    font-size: large;
}