.Instruct {
    padding: 100px 0 200px 0;
}

.instruct__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

    h3 {
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
    }

    a {
        color: rgb(73, 187, 189);
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }
}

.instruct__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 400px;
    }
}