.df {
    display: flex;
}

.search_page_1 {
    }

.search_content {
    background-image: url(../../assets/img/search-bg.png);

    background-repeat: no-repeat;
    background-size: contain;
}

.search-div {
    margin-left: 198px;

}

.search-div-inp {
    width: 85%;
    height: 63px;
    padding: 21px 34px 21px 34px;
    margin-top: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 24px;
    text-align: left;
}

.search-div-btn {
    margin-top: 65px;
    font-size: 24px;
    height: 53.5px;
    width: 173px;
    border-radius: 12px;
    border: none;
    background: rgb(73, 187, 189);
    margin-left: -180px;
    padding-right: 20px;
    color: white;
}

.select-div {
    margin-left: 169px;
}

.select-menu {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.select-item {
    width: 159px !important;
    height: 75px;
    padding: 18px 19px;
    font-size: 24px;
    text-align: center;
    padding-right: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);

    select {
        cursor: pointer;
        border: none;
        outline: none;

    }
}


.search-card {
    width: 374px;
    margin-top: 69px;
    height: 617px;
    border-radius: 20px;
    box-shadow: 0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.1);
    background: rgb(255, 255, 255);
}

.search_card_img {
    width: 334px;
    height: 238px;
    object-fit: cover;
    margin-right: 40px;
    margin-left: -11px;
    padding-top: 20px;
}

.card-lisa {
    display: flex;
    column-gap: 50px;
    align-items: center;
    padding-top: 19px;
}

.span-1 {
    display: flex;
    column-gap: 181px;
    align-items: center;
    margin-top: 20px;
}

.search_h3_1 {
    color: rgb(105, 105, 132);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 2%;
    text-align: left;
}

.search_h3_2 {
    color: rgb(37, 38, 65);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}

.search_p {
    color: rgb(105, 105, 132);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 2%;
    text-align: left;
    margin-top: 20px;
}

.span-2 {
    display: flex;
    column-gap: 17px;
    align-items: center;
}

.span-3 {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.lisa-h6 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 2%;
    text-align: left;
}

.del_h6 {
    color: rgba(0, 0, 0, 0.5);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 2%;
    text-align: left;
    text-decoration-line: line-through;
}

.span-3_h6 {
    color: rgb(73, 187, 189);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 2%;
    text-align: left;
}