.Footer {
    background: rgb(37, 38, 65);
    padding: 74px 0;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 103px;
}

.footer__logo__text {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    margin-left: 60px;
}

.footer__logo__span {
    border: 1px solid rgb(98, 99, 129);
    margin-left: 60px;
}

.footer__subscribe {
    text-align: center;
    color: rgb(178, 179, 207);
    font-size: 26px;
    margin-bottom: 50px;
    font-weight: 500;
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    input {
        padding-left: 20px;
        color: rgb(131, 131, 154);
        font-size: 20px;
        font-weight: 400;
        width: 400px;
        height: 60px;
        box-sizing: border-box;
        border: 1px solid rgb(131, 131, 154);
        border-radius: 80px;
        outline: none;
        background: transparent;
    }

    button {
        border-radius: 60px;
        background: rgb(73, 187, 189);
        color: rgb(255, 255, 255);
        font-size: 22px;
        border: none;
        cursor: pointer;
        margin-left: 32px;
        font-weight: 500;
        width: 179px;
        height: 60px;
    }
}

.footer__div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    p {

        color: rgb(178, 179, 207);
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-left: 20px;
    }

    span {
        border: 1px solid rgb(98, 99, 129);
        margin-left: 20px;
    }
}

.footer__securate {
    color: rgb(178, 179, 207);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}