.Online{
    padding: 0px 0 100px 0;
}

.online__container {
    padding: 70px 0;
    border-radius: 37px;
    background: rgb(37, 38, 65);

    h1 {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 20px;
        width: 1000px;
        margin: 0 auto;
        font-weight: 400;
        line-height: 180%;
        letter-spacing: 2%;
        text-align: center;
        margin-bottom: 73px;
    }

    button {
        border-radius: 12px;
        border: none;
        background: rgb(73, 187, 189);
        width: 236px;
        height: 63px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        font-weight: 700;
        line-height: 24px;
        text-align: center;

    }
}