@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1594px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}



body {
    font-family: 'Poppins', sans-serif;
}

ul,
ol,li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}